// PAGINA MAIN

@import '__vars'; //Variables
@import '__pages'; //CSS


@import "../node_modules/bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{ 
    margin:0;
    padding:0;
    overflow-x: hidden;
}
